
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/css/jquery.dataTables.css" rel="stylesheet" />

<div id="page-wrapper">
    <!-- Modal avisos-->
    <div id="popupAvisos">
    </div>
    <div id="fondoPopupAvisos" class="fondoAviso">    </div>
    <!-- Modal avisos-->
    <div id="page-inner">
        <div class="row">
            <div class="col-md-10">
                <h2 style="color: #003082;">Listado de Comics <a href="#" title="Ayuda" data-toggle="modal" data-target="#mdlAyuda"><i style="font-size:23px; color:red;" class="fa fa-question-circle"></i></a></h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Listado de Comics
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive" id="tblSucursales">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal agregar sucursal-->
<div class="modal fade" id="mdlDetailComic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Detalle del Comic</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="frmDetailComic">

                    <div class="form-group">
                        <label for="Imagen">Imagen del Comic: </label>
                        <img id="Imagen" src='../Content/img/960px-User.jpg' height="250" width="250">
                    </div>

                    <div class="form-group">
                        <label for="Titulo">Titulo: </label>
                        <input type="text" class="form-control" id="Titulo" name="Titulo" placeholder="Titulo">
                    </div>

                    <div class="form-group">
                        <label for="Volumen">Volumen: </label>
                        <input type="text" class="form-control" id="Volumen" name="Volumen" placeholder="Volumen">
                    </div>

                    <div class="form-group">
                        <label for="FLanzamiento">Fecha Lanzamiento: </label>
                        <input type="text" class="form-control" id="FLanzamiento" name="FLanzamiento" placeholder="Fecha Lanzamiento">
                    </div>

                    <div class="form-group">
                        <label for="Paginas">Paginas: </label>
                        <input type="text" class="form-control" id="Paginas" name="Paginas" placeholder="Paginas">
                    </div>

                    <div class="form-group">
                        <label for="Descripcion">Descripcion: </label>
                        <input type="text" class="form-control" id="Descripcion" name="Descripcion" placeholder="Descripcion">
                    </div>

                    <div class="form-group">
                        <label for="Sucursal">Disponible en la Sucursal: </label>
                        <input type="text" class="form-control" id="Sucursal" name="Sucursal" placeholder="Sucursal">
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Listado de Personajes
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive" id="tblPersonajes">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/jquery.dataTables.js"></script>
<script src="~/Content/js/dataTables.bootstrap.js"></script>
<script src="~/Content/js/ListComic/AdminListComic.js"></script>
<script src="~/Content/js/jquery.dataTables.min.js"></script>
